<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add nomination</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" action="@Url.Action("AddNomination", "Nominate")">
                    <div class="form-group">
                        <label for="category" class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="categoryId" name="categoryId" ng-disabled="editNomination.nominationId"
                                    ng-model="editNomination.categoryID" ng-options="category.id as category.name for category in data.categories">
                                <!--<option ng-repeat="category in data.categories" ng-value="category.id">{{category.name}}</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nominee" class="col-sm-2 control-label">Nominee</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" 
                                   ng-model="editNomination.email" ng-disabled="editNomination.nominationId" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reason" class="col-sm-2 control-label">Motivation</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="reason" name="reason" placeholder="Motivation" ng-model="editNomination.reason"></textarea>
                        </div>
                    </div>
                    <input type="hidden" id="nominationId" name="nominationId" ng-model="editNomination.nominationId" />
                </form>
            </div>
            <div class="modal-footer">
                <p class="error-message" ng-show="error">{{error}}</p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="add(editNomination)">Submit</button>
            </div>
        </div>
    </div>
</div>