@{
    Layout = null;
}

<div class="main-content">
    <div class="panel-group" id="category-{{$index}}" role="tablist" aria-multiselectable="true"
         ng-repeat="category in data.categories">
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row vertical-align" role="tab" id="heading-{{$index}}">
                <a class="collapsed col-xs-12" role="button" data-toggle="collapse"
                   data-parent="#nominee-{{$index}}" data-target="#collapse-{{$index}}" aria-expanded="false"
                   aria-controls="collapse-{{$index}}">
                    <h2>{{category.name}}</h2>
                </a>
            </div>
            <div id="collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="heading-{{index}}">
                <div class="panel-body">
                    <p>{{category.description}}</p>
                    <p style="color:red;">Click on nominees to read why they were nominated.</p>
                    <div class="panel-group" id="nominee-{{$parent.$index}}-{{$index}}" role="tablist" aria-multiselectable="true"
                         ng-repeat="nominee in category.nominees">
                        <div class="panel panel-default container-fluid">
                            <div class="panel-heading row vertical-align" role="tab" id="heading-{{$parent.$index}}-{{$index}}">
                                <a class="collapsed col-xs-9 col-sm-10" role="button" data-toggle="collapse"
                                   data-parent="#nominee-{{$parent.$index}}-{{$index}}" data-target="#collapse-{{$parent.$index}}-{{$index}}" aria-expanded="false"
                                   aria-controls="collapse-{{$parent.$index}}-{{$index}}">
                                    <div class="row vertical-align">
                                        <div class="col-sm-4 hidden-xs" style="padding-left:0">
                                            <img ng-src="{{nominee.image}}"
                                                 class="img-responsive img-circle">
                                        </div>
                                        <h4 class="panel-title col-xs-12 col-sm-8">
                                            {{nominee.name}}
                                        </h4>
                                    </div>
                                </a>
                                <button class="col-xs-3 col-sm-2 btn btn-default" ng-click="vote(nominee)"
                                        ng-hide="category.userHasVoted">
                                    Vote
                                </button>
                                <button class="col-xs-3 col-sm-2 btn btn-danger" ng-click="removeVote(nominee)"
                                        ng-show="nominee.vote !== null">
                                    Undo
                                </button>
                            </div>
                            <div id="collapse-{{$parent.$index}}-{{$index}}" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading-{{$parent.$index}}-{{index}}">
                                <div class="panel-body">
                                    <p ng-repeat="nomination in nominee.nominations"><em>"{{nomination.reason}}"</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div ng-app="AvaSummerAwards" ng-cloak>
    <div class="container" ng-controller="MainController as ctrl">
        <h1>Avanade Summer Awards!</h1>

        <div>
            <hr />
            <h2>Kategorier</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><strong>Titel</strong></td>
                        <td><strong>Beskrivning</strong></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in ctrl.data.categories">
                        <td>{{category.Name}}</td>
                        <td>{{category.Description}}</td>
                        <td><button class="btn btn-default btn-small" disabled>Nominera</button></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div>
            <hr />
            <h2>Nominering</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><strong>Kategori</strong></td>
                        <td><strong>Nomineringar</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in ctrl.data.categories">
                        <td>{{category.Name}}</td>
                        <td>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Nominerad</td>
                                        <td>Motivering</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="nominee in category.Nominees">
                                        <td>{{nominee.NomineeName}}</td>
                                        <td><span ng-repeat="nomination in nominee.Nominations">{{nomination.Reason}}</span></td>
                                        <td class="pull-right">
                                            <button class="btn btn-small btn-success" data-ng-click="ctrl.vote(nominee)" data-ng-hide="category.HasVoted">Rösta</button>
                                            <button class="btn btn-small btn-danger" data-ng-click="ctrl.removeVote(nominee)" data-ng-show="nominee.Vote !== null">Ta bort röst</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
-->
