@{
    Layout = null;
}
<div class="panel-body">
    <button type="button" class="btn btn-primary btn-lg" ng-click="openModal()">Add</button>
    <div class="main-content">
        <div class="panel-group" id="category-{{$index}}" role="tablist" aria-multiselectable="true"
             ng-repeat="category in data.categories">
            <div class="panel panel-default container-fluid">
                <div class="panel-heading row vertical-align" role="tab" id="heading-{{$index}}">
                    <a class="collapsed col-xs-12" role="button" data-toggle="collapse"
                       data-parent="#nominee-{{$index}}" data-target="#collapse-{{$index}}" aria-expanded="false"
                       aria-controls="collapse-{{$index}}">
                        <h2>{{category.name}}</h2>
                    </a>
                </div>
                <div id="collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading-{{$index}}">
                    <div class="panel-body">
                        <p>{{category.description}}</p>
                        <div class="panel-group" id="nominee-{{$parent.index}}-{{$index}}" role="tablist"
                             aria-multiselectable="true" ng-repeat="nominee in category.nominees">
                            <div class="panel panel-default container-fluid">
                                <div class="panel-heading row vertical-align" role="tab" id="heading-{{$parent.index}}-{{$index}}">
                                    <a class="col-xs-9 col-sm-10" role="button" data-toggle="collapse"
                                       data-parent="#nominee-{{$parent.index}}-{{$index}}"
                                       data-target="#collapse-{{$parent.index}}-{{$index}}" aria-expanded="false"
                                       aria-controls="collapse-{{$parent.index}}-{{$index}}">
                                        <div class="row vertical-align">
                                            <div class="col-sm-4 hidden-xs" style="padding-left:0">
                                                <img ng-src="{{nominee.image}}"
                                                     class="img-responsive img-circle">
                                            </div>
                                            <h4 class="panel-title col-xs-12 col-sm-8">
                                                {{nominee.name}}
                                            </h4>
                                        </div>
                                    </a>
                                    <button class="col-xs-3 col-sm-2 btn btn-default" ng-click="openModal(nominee)">
                                        Edit
                                    </button>
                                    <button class="col-xs-3 col-sm-2 btn btn-danger" ng-click="delete(nominee.nominations[0].id)">
                                        X
                                    </button>
                                </div>
                                <div id="collapse-{{$parent.index}}-{{$index}}" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="heading-{{$parent.index}}-{{$index}}">
                                    <div class="panel-body">
                                        <p ng-repeat="nomination in nominee.nominations"><em>"{{nomination.reason}}"</em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" ng-show="category.nominees.length == 0">
                            <div class="panel panel-default container-fluid">
                                <div class="panel-heading row vertical-align" role="tab">
                                    <div class="col-xs-12">You have not made any nominations in this category yet.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_AddNominationPartial.cshtml")
<script>
    var data = @Html.Raw(Json.Serialize(Model));
</script>
